//colors
$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;
$textColor: #777;

//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $textColor;
}
