.heading-primary {
  margin-bottom: 2rem;
  color: $white;
  text-transform: uppercase;
  //fix for shaking animation
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    //animation
    animation: moveInLeft 0.8s ease-in;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.74rem;
    //animation
    animation: moveInRight 0.8s ease-in;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $lightGreen, $darkGreen);
  transition: all 0.2s;
  //text color gradient effect
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($black, 0.2);
  }
}
