//colors
$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;

$textColor: #777;
$white: #fff;
$black: #000;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
